@import "tailwindcss";
@config "../tailwind.config.js";

body {
  --dot-bg: #f2f2fb;
  --dot-color: #26272b;
  --dot-size: 1px;
  --dot-space: 28px;
  background: radial-gradient(#627c73, #40534c);
}

/* when dark class is on the wrapper div */
#app-root.dark {
  --dot-bg: #26272b;
  --dot-color: rgba(242, 242, 251, 0.5);
  --dot-size: 1px;
  --dot-space: 28px;
  background: radial-gradient(#384842, #222222);
  min-height: 100vh;
}
